/* ---- General ---- */
.contacto {
    max-width: 70rem;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
}

.contacto__title {
    font-family: Gobold;
    font-size: 3.55rem;
    font-weight: 400;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--turquoise);
    margin-bottom: 3.61rem;
}

.contacto__sub-title {
    font-family: Gobold Lowplus;
    font-size: 2.66rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: uppercase;
    color: var(--turquoise);
}

/* ---- Particulares ---- */
.contacto__form--container {
    display: flex;
    flex-flow: column nowrap;
    max-width: 45.38rem;
    margin: 0 auto 5rem auto;
}

.contacto__form {
    display: flex;
    flex-flow: column nowrap;
}

.contacto__form input,
.contacto__form textarea {
    outline: none;
    border: none;
    background: linear-gradient(90deg, #EBE4E1 -47.52%, rgba(246, 238, 235, 0) 122.14%);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.05));
    margin-bottom: 2.5rem;
}

.contacto__form input[type="text"],
.contacto__form textarea[type="text"] {
    font-size: 1.8rem;
}

.contacto__form input::placeholder,
.contacto__form textarea::placeholder {
    font-family: Acumin Variable Concept;
    font-size: 1.72rem;
    line-height: 2.3rem;
    display: flex;
    justify-content: center;
    color: black;
}

.contacto__form input {
    padding: 1.11rem 2.22rem;
    min-height: 5rem;
    border-radius: 5.55rem;
}

.contacto__form textarea {
    resize: none;
    padding: 2.77rem 2.22rem;
    min-height: 14.61rem;
    border-radius: 3.83rem;
}

.contacto__medios--container {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    max-width: 23.33rem;
}

.contacto__medios--container p {
    margin: 1.66rem 0 3.61rem 0;
}

.error-bubble {
    position: relative;
    width: 100%;
    padding: 15px 10px;
    margin: 0 auto 20px auto;
    border-left: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto .border-error {
    border: 1px solid #FF0000;
}

.mail--sent {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 60px;
    padding: 20px;
    border-radius: 1rem;
    background-color: #28a745;
    color: white;
    z-index: 20;
    max-width: 90%;
}

@media (min-width: 768px) {
    .contacto {
        flex-flow: row nowrap;
    }
}