.home{
    width: 100%;
    background-image: url(/src/assets/images/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
}

.home .home--title {
    max-width: 638px;
}

.container {
    max-width: 1500px;
    height: 536px;
    margin: 0 auto;
    position: relative;
    top: 176px;
    display: flex;
    align-items: flex-start;
}

@media (min-width: 0px) {
    .home .home--title {
        width: 60vw;
    }
    .container {
        padding: 0px;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .home .home--title {
        width: 40vw;
    }
    .container {
        padding-left: 100px;
        justify-content: space-between;
    }
}



/* @media (min-width: 768px) {
    :root {
        font-size: 6.4px;
    }
    
}
@media (min-width: 1024px) {
    :root {
        font-size: 8.5px;
    }
}
@media (min-width: 1440px) {
    :root {
        font-size: 12px;
    }
} */