.header {
    width: 100%;
    background-color: var(--white0-7);
    height: 43px;
    position: absolute;
    /* display: none; TEMPORAL */
}

.header .header--container {
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

.header .nav--container {
    display: flex;
    width: 80%;
    max-width: 1100px;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 80px;
}

.nav li a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--dark);
}

.logo {
    width: 100px;
}

.social--container {
    margin: auto 0;
    width: 93px;
    display: flex;
    justify-content: space-between;
}

.social--container svg {
    width: 28.24px;
    height: 28.24px;
}