.carousel--container {
    max-width: 1400px;
    margin: 0 auto;
}

.splide__slide {
    display: flex;
    justify-content: center;
}
.splide__arrow {
    background: rgba(0, 0, 0, 0);
    margin: 0 15px;
}
.max-width-313 {
    max-width: 313px;
    margin: 0 10px;
}

.max-width-313 img {
    width: 100%;
}