* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

:root {
    --orange: #fc4a1a;
    --lightorange: #fd6e48;
    --yellow: #f7b733;
    --lightyellow:#f9c55c;
    --turquoise:#4abdac;
    --lightturquoise: #6ecabd;
    --dark: #333;
    --white: #fff;
    --white0-7:rgba(246, 238, 235, .7);
    --main-bg: #F6EEEB;
    --gray: #C4C4C4;
}

body {
    background-color: var(--main-bg);
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

/* CLASES DE UTILIDAD GENERALES */
.title {
    font-family: Gobold;
    font-size: 4.44rem;
    line-height: 5.3rem;
    color: var(--turquoise);
    text-transform: uppercase;
}

@media (min-width: 0px) {
    :root {
        font-size: 10px;
    }
}
@media (min-width: 360px) {
    :root {
        font-size: 12px;
    }
}
@media (min-width: 1200px) {
    :root {
        font-size: 18px;
    }
}

/* FONTS */ 

/* Titulares: */
@font-face {
    font-family: Gobold;
    src: url(./assets/fonts/Gobold\ Hollow\ Bold.otf);
}

/* Textos: */
@font-face {
    font-family: Gobold Lowplus;
    src: url(./assets/fonts/Gobold\ Lowplus.otf);
}
@font-face {
    font-family: "Acumin Variable Concept";
    src: url(./assets/fonts/Acumin\ Variable\ Concept.ttf);
}
