/* ---- GENERAL ---- */
.servicios * {
    margin: 0 auto;
}

.servicios {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
    width: 98%;
}

.servicios h2,
.servicios h3,
.servicios h4,
.servicios p {
    text-align: center;
    font-weight: 400;
}

.servicios p {
    text-align: left;
    color: white;
}

.servicios img,
.servicios picture,
.servicios p,
.servicios .grid1,
.servicios .grid2,
.servicios .grid3 {
    margin: 0;
}

.servicios .description {
    font-size: 2rem;
    line-height: 2rem;
    color: black;
    text-align: center;
    margin: 0 auto;
}

.servicios .title-90 {
    font-size: 5rem;
    margin-bottom: 3.33rem;
}

.servicios .title-72 {
    font-family: Gobold;
    font-size: 4rem;
    line-height: 4.8rem;
    color: var(--turquoise);
    text-transform: uppercase;
}

.servicios .title-48 {
    font-family: Gobold Lowplus;
    font-size: 2.6rem;
    line-height: 2.8rem;
    color: var(--turquoise);
    margin-bottom: 40px;
    text-transform: uppercase;
}

/* ----- CLASES DE UTILIDAD ----- */

.grid-2-cols {
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
}

.grid-1-row-2-cols {
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
}

.servicios .absolute {
    position: absolute;
    left: 0;
    right: 0;
}

.servicios__title {
    min-height: 13.05rem;
    display: flex;
    align-items: flex-end;
}

.servicios .mb-1_66 {
    margin-bottom: 1.66rem;
}

.servicios .mb-2_22 {
    margin-bottom: 2.22rem;
}

/* ---------- CREATIVIDAD Y DISEÑO ---------- */
.servicios .creatividadYDiseno h4 {
    font-size: 2.22rem;
}

.servicios .creatividadYDiseno__description {
    max-width: 51.83rem;
}

/* ---- DISEÑO GRAFICO ---- */
.disenoGrafico--title {
    max-width: 55.55rem;
}

.disenoGrafico--title img {
    max-width: 13.05rem;
}

.disenoGrafico--div {
    padding: 3.61rem 2.7rem;
}

.disenoGrafico--div div {
    margin: 0;
}

/* ---- FOTOGRAFÍA ----*/
.fotografia--title {
    max-width: 47.2rem;
    justify-content: flex-end;
}

.fotografia--title img {
    max-width: 10.33rem;
}

.fotografia--div {
    padding: 3.8rem 2.7rem;
    max-width: 41.38rem;
}

/* ---------- MARKETING Y COMUNICACIÓN ---------- */
.marketingYComunicacion h2 {
    margin-top: 9.16rem;
    letter-spacing: -3px;
}

.marketingYComunicacion h4 {
    margin: 45px 0 55px 0;
}

.marketingYComunicacion__description {
    max-width: 52.66rem;
}

.marketingDigital--title {
    max-width: 60rem;
    margin-top: 30px;
}

.marketingDigital--title img {
    max-width: 11.44rem;
}

.marketingDigital--div {
    padding: 3.6rem 2.7rem 3.3rem 2.7rem;
    max-width: 57.1rem;
}

/* ---- MARKETING TRADICIONAL ---- */
.marketingTradicional--title {
    max-width: 67rem;
    justify-content: flex-end;
    margin-top: 50px;
}

.marketingTradicional--title img {
    max-width: 14.22rem;
}

.marketingTradicional--div {
    padding: 3.61rem 2.77rem;
    max-width: 57.1rem;
}

/* ---------- GESTIÓN DE REDES SOCIALES ---------- */
.gestionDeRedesSociales {
    margin-top: 9.44rem;
}

.gestionDeRedesSociales__description {
    max-width: 51.6rem;
}

/* ---- COMMUNITY MANAGER ---- */
.communityManager--title {
    max-width: 60rem;
    margin-top: 50px;
}

.communityManager--title img {
    max-width: 9.5rem;
}

.communityManager--div {
    padding: 3.8rem 3.05rem;
    max-width: 57.1rem;
}

/* ---- GESTIÓN DE COMUNIDADES ---- */
.gestionDeComunidades--title {
    max-width: 64rem;
    justify-content: flex-end;
    margin-top: 50px;
}

.gestionDeComunidades--title img {
    max-width: 10.6rem;
}

.gestionDeComunidades--div {
    padding: 3.88rem 3.05rem;
    max-width: 57.1rem;
}

.gestionDeComunidades--div div {
    margin: 0;
    max-width: 22.94rem;
}

/* ---- PUBLICIDAD DIGITAL ---- */
.publicidadDigital--title {
    max-width: 56rem;
    margin-top: 20px;
}

.publicidadDigital--title img {
    max-width: 9.5rem;
}

.publicidadDigital--div {
    padding: 3.88rem 3.33rem;
    max-width: 57.1rem;
}

/* ---- DESARROLLO WEB ---- */
.desarrolloWeb--title {
    max-width: 62.22rem;
    justify-content: flex-end;
    margin-top: 8rem;
}

.desarrolloWeb--title img {
    max-width: 10.16rem;
}

.desarrolloWeb--div {
    padding: 4.83rem 2.8rem 4.16rem 2.8rem;
    min-width: 25rem;
}

/* ---- DESARROLLO UX/UI ---- */
.desarrolloUxUi--title {
    max-width: 62.22rem;
    margin-top: 8rem;
}

.desarrolloUxUi--title img {
    max-width: 10.72rem;
}

.desarrolloUxUi--div {
    padding: 4.3rem 2.7rem;
}


@media (min-width: 768px) {
    .servicios {
        width: 93%;
    }
    .grid-2-cols {
        -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        gap: 2.55rem;
    }
    .grid-1-row-2-cols {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .grid-1-row-2-cols .grid1 {
        grid-area: 1 / 1 / 2 / 3;
    }
    .grid-1-row-2-cols .grid2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .grid-1-row-2-cols .grid3 {
        grid-area: 2 / 2 / 3 / 3;
    }
    /* ---- FOTOGRAFIA ----- */
    .fotografia--div {
        width: 41.38rem;
    }
    /* ---------- MARKETING Y COMUNICACIÓN ---------- */
    .marketingYComunicacion h2 {
        letter-spacing: 0px;
    }
    /* ---- MARKETING DIGITAL ---- */
    .marketingDigital--div {
        width: 56.1rem;
        max-height: 19.8rem;
    }
    /* ---- MARKETING TRADICIONAL ---- */
    .marketingTradicional--div {
        width: 56.1rem;
        max-height: 25.22rem;
    }
    /* ---------- GESTION DE REDES SOCIALES ---------- */
    /* ---- COMMUNITY MANAGER ---- */
    /* ---- GESTIÓN DE COMUNIDADES ---- */
    /* ---- PUBLICIDAD DIGITAL ---- */
    .communityManager--div,
    .gestionDeComunidades--div,
    .publicidadDigital--div {
        width: 57.1rem;
    }
    /* ---- DESARROLLO WEB ---- */
    /* ---- DESARROLLO UX/UI ---- */
    .desarrolloWeb--div,
    .desarrolloUxUi--div {
        width: 58rem;
    }
    .desarrolloWeb--title,
    .desarrolloUxUi--title {
        margin-top: 4rem;
    }
}

@media (min-width: 1200px) {
    /* ---- DESARROLLO WEB ---- */
    /* ---- DESARROLLO UX/UI ---- */
    .desarrolloWeb--div,
    .desarrolloUxUi--div {
        width: 61rem;
    }
}